* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2058bb;
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* HEADER SECTION  */
.header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 28px 0;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 670px 246px;
  justify-content: space-between;
}

.header-container--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-container--left > svg:first-child {
  width: 150px;
  height: 40px;
}

.header-button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #bbbababf;
  cursor: pointer;
  background-color: transparent;
  margin: 0 4px 0 20px;
  font-size: 14px;
}

.header-button:hover {
  background-color: #f5f5f5;
  border-color: transparent;
}

.header-button > svg:last-child {
  transition: all 0.3s ease-in-out;
}

.header-button:hover > svg:last-child {
  transform: rotate(180deg);
}

.header-button > svg {
  width: 20px;
}

.header-button > svg:first-child {
  fill: #3a8dd3;
}

.header-btn {
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.header-btn:hover {
  color: #2673b3;
}

.header-container--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.header-call {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.1s ease-in-out;
  font-size: 14px;
}

.header-call:hover {
  color: rgb(0, 0, 0);
}

.header-call > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-call > span > svg {
  width: 20px;
  fill: rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.header-call:hover > span > svg {
  fill: rgb(0, 0, 0);
}

.header-container--right > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #bbbababf;
  cursor: pointer;
  font-size: 14px;
}

.header-container--right > button > span {
  height: 20px;
}

.header-container--right > button > span:last-child {
  height: 16px;
}

.header-container--right > button > span > svg {
  width: 20px;
  fill: rgba(0, 0, 0, 0.4);
}

/* PRODUCTS SLIDES SECTION */
.products-wrapper {
  position: relative;
}
.products-slide {
  width: 1344px;
  margin: 0 auto;
  background-color: #00c4e5;
  border-radius: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.slide-container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  padding-bottom: 60px;
}

.container--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  color: white;
}

.container--left > h2 {
  font-size: 40px;
  font-weight: 500;
}

.container--left > p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.container--right > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.products-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 32px;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  bottom: -60px;
  width: 1200px;
  box-shadow: 2px 2px 12px rgb(178, 178, 178);
}
.products-info--left {
  display: flex;
  gap: 40px;
}

.products-info--left > div > h3 {
  font-size: 20px;
  font-weight: 600;
}

.products-info--left > div > p {
  margin-top: 10px;
  color: #a8a8a8;
}

.products-info > div:first-child > div:not(:nth-child(4)) {
  border-right: 1px solid #bbbababf;
  padding-right: 40px;
}

.products-info--right {
  display: flex;
  gap: 20px;
}

.btn {
  width: 148px;
  height: 48px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.btn.blue {
  background-color: #2058bb;
  color: white;
}

.btn.blue:hover,
.btn.blue:active {
  background-color: #174086;
}

.btn.gray {
  background-color: #f2f2f7;
}

.btn.gray:hover,
.btn.gray:active {
  background-color: #e1e1eb;
}

.slide-buttons {
  position: absolute;
  bottom: -140px;
  display: flex;
  gap: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-buttons > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f7;
}

.slide-buttons > div:first-child,
.slide-buttons > div:last-child {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.slide-buttons > div:first-child:hover,
.slide-buttons > div:last-child:hover {
  background-color: #ededed;
}

.slide-buttons > div:nth-child(2) {
  width: 144px;
  height: 48px;
  border-radius: 48px;

  gap: 12px;
}
.slide-buttons > div:nth-child(2) > div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c6c6d0;
  cursor: pointer;
}

.slide-buttons > div:nth-child(2) > div.checked {
  background-color: #2058bb;
}

/* second info container */
.info-container--mobile {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fff;
  position: absolute;
  bottom: -140px;
  display: none;
}

.products-info--mobile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

.products-info--mobile > div:first-child {
  display: flex;
  justify-content: space-between;
}

.products-info--mobile > div:first-child > div {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.products-info--mobile > div:first-child > div:first-child {
  background-color: #00c4e5;
}

.products-info--mobile > div:first-child > div:nth-child(2) {
  background-color: #8a98ab;
}
.products-info--mobile > div:first-child > div:nth-child(3) {
  background-color: #c19791;
}
.products-info--mobile > div:first-child > div:nth-child(4) {
  background-color: #a5b854;
}
.products-info--mobile > div:first-child > div:nth-child(5) {
  background-color: #8460cd;
}
.products-info--mobile > div:first-child > div:last-child {
  background-color: #2c77d1;
}

.products-info--mobile > div:first-child > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-info--mobile > div:nth-child(2) > h2 {
  font-weight: 500;
  margin-bottom: 12px;
}

.products-info--mobile > div:nth-child(2) > p {
  font-weight: 300;
  font-size: 14px;
}

.products-info--mobile > div:last-child {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

/* PRODUCT IN DETAIL */
.productsInDetail {
  margin-top: 200px;
}

.productsInDetail-choice > h2 {
  font-size: 32px;
  font-weight: 600;
}

.productsInDetail-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-top: 36px;
}

.productsInDetail-btn {
  padding: 14px 24px;
  border-radius: 24px;
  border: none;
  background-color: #f2f2f7;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.productsInDetail-btn:hover {
  background-color: #ededed;
}

.productsInDetail-btn:first-child {
  background-color: #3a8dd3;
  color: white;
}

.productsInDetail-btn:first-child:hover {
  background-color: #3662ad;
}

.productsInDetail-cards {
  display: flex;
  flex-direction: column;
}

.productsInDetail-card {
  display: flex;
  align-items: center;
  gap: 48px;
  padding: 60px 0;
  border-bottom: 1px solid #d1d1d4;
}

.productsInDetail-card--left > div {
  width: 416px;
  height: 416px;
  background-color: #00c4e5;
  border-radius: 20px;
}

.productsInDetail-cards
  > .productsInDetail-card:nth-child(2)
  > .productsInDetail-card--left
  > div {
  background-color: #8a98ab;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(3)
  > .productsInDetail-card--left
  > div {
  background-color: #c19791;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(4)
  > .productsInDetail-card--left
  > div {
  background-color: #58c9a7;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(5)
  > .productsInDetail-card--left
  > div {
  background-color: #4e81cc;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(6)
  > .productsInDetail-card--left
  > div {
  background-color: #a5b854;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(7)
  > .productsInDetail-card--left
  > div {
  background-color: #8460cd;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(8)
  > .productsInDetail-card--left
  > div {
  background-color: #30a968;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(9)
  > .productsInDetail-card--left
  > div {
  background-color: #65c0c4;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(10)
  > .productsInDetail-card--left
  > div {
  background-color: #0059bb;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(11)
  > .productsInDetail-card--left
  > div {
  background-color: #2c77d1;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(12)
  > .productsInDetail-card--left
  > div {
  background-color: #5cbebe;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(13)
  > .productsInDetail-card--left
  > div {
  background-color: #30a659;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(14)
  > .productsInDetail-card--left
  > div {
  background-color: #d8db58;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(15)
  > .productsInDetail-card--left
  > div {
  background-color: #efa513;
}
.productsInDetail-cards
  > .productsInDetail-card:nth-child(16)
  > .productsInDetail-card--left
  > div {
  background-color: #1f82de;
}
.productsInDetail-cards
  > .productsInDetail-card:last-child
  > .productsInDetail-card--left
  > div {
  background-color: #3799ba;
}

.productsInDetail-card--left > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productsInDetail-card--right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.productsInDetail-card--right > h2 {
  font-size: 32px;
}

.productsInDetail-card--right > p {
  font-size: 16px;
  line-height: 24px;
  color: #818184;
  margin-top: 8px;
}

.productsInDetail-card--right > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  margin-top: 20px;
}

.productsInDetail-card--right > div:nth-child(3) > div > h3 {
  font-size: 20px;
  font-weight: 500;
}

.productsInDetail-card--right > div:nth-child(3) > div > p {
  font-size: 16px;
  color: #818184;
  margin-top: 6px;
}

.productsInDetail-card--right > div:nth-child(3) > div:not(:last-child) {
  padding-right: 40px;
  border-right: 1px solid #d1d1d4;
}

.productsInDetail-card--right > div:last-child {
  display: flex;
  gap: 20px;
  margin-top: 12px;
}

.productsInDetail-card--right > div:last-child > button:last-child {
  background-color: #f2f2f7;
  transition: all 0.1s ease-in-out;
}

.productsInDetail-card--right > div:last-child > button:last-child:hover {
  background-color: #ededed;
}

.productsInDetail-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #edf2f6;
  padding: 18px 0;
  margin: 40px 0;
  border-radius: 8px;
  color: #2058bb;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: none;
}

.productsInDetail-filter:hover,
.productsInDetail-filter:active {
  background-color: #e2e8f0;
}

.productsInDetail-filter > div {
  width: 20px;
  height: 20px;
  position: relative;
  transform: rotate(90deg);
}

.productsInDetail-filter > div > div,
.productsInDetail-filter > div > div::before,
.productsInDetail-filter > div > div::after {
  background-color: #2058bb;
  display: block;
  position: absolute;
  width: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}
.productsInDetail-filter > div > div {
  height: 14px;
  width: 2px;
  background-color: #2058bb;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
}

.productsInDetail-filter > div > div::before {
  content: "";
  height: 8px;
  margin-left: 6px;
}
.productsInDetail-filter > div > div::after {
  content: "";
  height: 20px;
  margin-left: -6px;
}

/* PARTNERS */

.partners-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 120px auto 60px;
}

.partners-container--top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.partners-container--top > h2 {
  font-size: 32px;
  font-weight: 500;
}

.partners-container--top > button {
  font-size: 16px;
  padding: 18px 24px;
  border: none;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: #f2f2f7;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.partners-container--top > button:hover,
.partners-container--top > button:active {
  background-color: #ededed;
}

.partners-container--bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.partners-container--bottom--card > hr {
  height: 1px;
  border: none;
  background-color: #e3e3e3;
}

.partners-container--bottom--card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e3e3e3;
  border-radius: 16px;
}

.partners-container--bottom--card > div:first-child {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 24px;
}

.partners-container--bottom--card > div:first-child > div {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
}

.partners-container--bottom--card > div:first-child > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.partners-container--bottom--card > div:first-child > h4 {
  font-size: 18px;
}

.partners-container--bottom--card > div:nth-child(3) {
  padding: 32px 24px;
  display: flex;
  gap: 10px;
}

.partners-container--bottom--card > div:nth-child(3) > div {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 167px;
}

.phone {
  height: 24px;
  width: 24px;
}

.project {
  height: 24px;
  width: 24px;
}

.tablet-btn {
  font-size: 16px;
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  letter-spacing: 1px;
  background-color: #f2f2f7;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  display: none;
}

.tablet-btn:hover,
.tablet-btn:active {
  background-color: #ededed;
}

/* FOOTER */
.footer {
  background-color: #f2f2f7;
}
.footer-container {
  padding: 80px 0 0;
}

.nav-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.first-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.first-nav > p {
  grid-column: 1 / -1;
}

nav a {
  display: block;
  text-decoration: none;
  color: #727272;
  font-size: 14px;
}

nav a:not(:last-child) {
  margin-bottom: 16px;
}

.second-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  align-items: space-between;
}

.nav-wrapper p {
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 500;
}

.social-media {
  display: flex;
  gap: 12px;
  margin: 52px 0 28px;
}

.social-media > div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #e1e1eb;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.social-media > div:hover,
.social-media > div:active {
  transform: scale(1.1);
}

.social-media > div > i {
  font-size: 12px;
  color: #515154;
}

.copyright {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright > p {
  font-size: 14px;
  color: #727272;
}

hr {
  height: 1px;
  border: none;
  background-color: #e3e3e3;
}

.call-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-bottom: 1px solid #e1e1eb;
  margin-bottom: 40px;
  display: none;
}

.call-wrapper > div {
  display: flex;
  margin-top: 16px;
}

.call-wrapper > div > span:last-child {
  color: #727272;
}

.call-wrapper > div > a {
  text-decoration: underline;
  color: #30a968;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1280px) and (max-width: 1344px) {
  .products-slide {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* HEADER MEDIA */
  .header-container {
    width: 90%;
    padding: 20px 0;
  }

  .header-container--right > button > span:last-child {
    display: none;
  }

  .header-container--right {
    gap: 8px;
  }

  /* PRODUCTS MEDIA */
  .products-slide {
    width: 100%;
    border-radius: 0;
  }
  .slide-container {
    width: 912px;
    grid-template-columns: repeat(2, 444px);
    justify-content: space-between;
  }

  .container--left > h2 {
    font-size: 32px;
  }

  /*  */
  .container {
    width: 912px;
  }

  .products-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 22px;
    width: 912px;
    bottom: -80px;
  }

  .slide-buttons {
    bottom: -160px;
  }

  .products-info--left {
    width: 100%;
    justify-content: space-between;
  }

  .products-info--left > div {
    width: 25%;
  }

  .products-info--left > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .products-info--left > div > p {
    font-size: 14px;
  }

  .products-info > div:first-child > div:not(:nth-child(4)) {
    border-right: 1px solid #bbbababf;
    padding-right: 0;
  }

  .products-info--right {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .info-btn {
    width: 50%;
  }

  /* PRODUCTSINDETAIL SECTION MEDIA */
  .productsInDetail-container {
    width: 92%;
    padding: 0 56px;
  }

  .productsInDetail-card {
    padding: 48px 0;
  }

  .productsInDetail-card--left > div {
    width: 276px;
    height: 276px;
  }

  .productsInDetail-card--right {
    gap: 8px;
  }

  .productsInDetail-card--right > h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .productsInDetail-card--right > p {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  .productsInDetail-card--right > div:nth-child(3) {
    display: flex;
    margin-top: 20px;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > p {
    font-size: 13px;
    color: #818184;
    margin-top: 6px;
  }

  .productsInDetail-card--right > div:nth-child(3) > div:not(:last-child) {
    padding-right: 35px;
  }

  /* PARTNERS */

  .partners-container {
    width: 92%;
    padding: 0 56px;
  }

  .partners-container--bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  /* FOOTER */

  .nav-wrapper {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .second-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    width: 90%;
    padding: 20px 0;
    grid-template-columns: 1fr 1fr;
  }
  .header-container--left > button {
    display: none;
  }

  .header-container--right {
    gap: 8px;
  }

  .header-container--right > button > span:last-child {
    display: block;
  }

  /* PRODUCTS MEDIA */
  .products-slide {
    width: 100%;
    border-radius: 0;
  }
  .slide-container {
    width: 704px;
    grid-template-columns: repeat(2, 340px);
    justify-content: space-between;
  }

  .container--left {
    margin: 73px 0;
  }

  .container--right {
    margin-top: 73px;
  }

  .container--left > h2 {
    font-size: 32px;
  }

  /*  */
  .container {
    width: 704px;
  }

  .products-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 22px;
    width: 704px;
    bottom: -80px;
  }

  .slide-buttons {
    bottom: -160px;
  }

  .products-info--left {
    width: 100%;
    justify-content: space-between;
  }

  .products-info--left > div {
    width: 25%;
  }

  .products-info--left > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .products-info--left > div > p {
    font-size: 14px;
  }

  .products-info > div:first-child > div:not(:nth-child(4)) {
    border-right: 1px solid #bbbababf;
    padding-right: 0;
  }

  .products-info--right {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .btn {
    width: 50%;
  }

  /* PRODUCTSINDETAIL */

  .productsInDetail-container {
    width: 100%;
    padding: 0 32px;
  }

  .productsInDetail-buttons {
    display: none;
  }

  .productsInDetail-cards {
    gap: 30px;
  }

  .productsInDetail-card {
    padding: 24px;
    border: 1px solid #d1d1d4;
    border-radius: 16px;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .productsInDetail-card--left > div {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .productsInDetail-card--right {
    gap: 8px;
    width: 100%;
  }

  .productsInDetail-card--right > h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .productsInDetail-card--right > p {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  .productsInDetail-card--right > div:nth-child(3) {
    display: flex;
    margin-top: 20px;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > p {
    font-size: 13px;
    color: #818184;
    margin-top: 6px;
  }

  .productsInDetail-card--right > div:nth-child(3) > div {
    padding-right: 60px !important;
  }

  .productsInDetail-card--right > div:last-child {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .productsInDetail-filter {
    display: flex;
  }

  /* partners */
  .partners-container {
    width: 100%;
    padding: 0 32px;
  }

  .partners-container--bottom {
    grid-template-columns: repeat(6, 300px);
    gap: 14px;
    overflow-x: auto;
  }

  .partners-container--bottom--card > div:first-child {
    padding: 20px;
  }

  .partners-container--bottom--card > div:nth-child(3) {
    padding: 20px 20px;
  }

  /* FOOTER */
  .footer-container {
    width: 100%;
    padding: 60px 32px;
  }

  .nav-wrapper {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .second-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 430px) and (max-width: 767px) {
  .header-container {
    width: 80%;
    padding: 10px 0;
    grid-template-columns: 1fr 1fr;
  }
  .header-container--left > button {
    display: none;
  }

  .header-container--right {
    gap: 8px;
  }

  .header-container--right > button > span:last-child {
    display: none;
  }

  /* PRODUCTS MEDIA */

  .products-slide {
    width: 100%;
    border-radius: 0;
  }
  .slide-container {
    width: 330px;
    grid-template-columns: 330px;
    justify-content: center;
  }

  .container--left {
    display: none;
  }

  .container--right {
    margin-top: 20px;
  }

  /*  */
  .info-container {
    display: none;
  }
  .slide-buttons {
    display: none;
  }

  .btn {
    width: 50%;
  }

  .info-container--mobile {
    display: block;
  }

  /* PRODUCTSINDETAIL MEDIA */

  .productsInDetail-container {
    width: 100%;
    padding: 0 16px;
  }

  .productsInDetail-choice > h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .productsInDetail-buttons {
    display: none;
  }

  .productsInDetail-cards {
    gap: 30px;
  }

  .productsInDetail-card {
    padding: 24px;
    border: 1px solid #d1d1d4;
    border-radius: 16px;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .productsInDetail-card--left > div {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .productsInDetail-card--right {
    gap: 8px;
    width: 100%;
  }

  .productsInDetail-card--right > h2 {
    font-size: 20px;
    font-weight: 500;
  }

  .productsInDetail-card--right > p {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  .productsInDetail-card--right > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
    border-top: 1px solid #d1d1d4;
    padding-top: 28px;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > p {
    font-size: 13px;
    color: #818184;
    margin-top: 0;
  }

  .productsInDetail-card--right > div:nth-child(3) > div {
    padding-right: 0 !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .productsInDetail-card--right > div:last-child {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .productsInDetail-card--right > div:nth-child(3) > div:not(:last-child) {
    border: none;
  }

  .productsInDetail-filter {
    display: flex;

    padding: 14px 0;
    margin: 32px 0 24px;
  }

  /* partners */

  .partners-container {
    width: 100%;
    padding: 0 32px;
  }

  .partners-container--top > h2 {
    font-size: 24px;
  }

  .partners-container--top > button {
    display: none;
  }

  .partners-container--bottom {
    grid-template-columns: repeat(6, 300px);
    gap: 14px;
    overflow-x: auto;
  }

  .partners-container--bottom--card > div:first-child {
    padding: 20px;
  }

  .partners-container--bottom--card > div:nth-child(3) {
    padding: 20px 20px;
  }

  .tablet-btn {
    display: block;
  }

  /* FOOTER */
  .footer {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .footer-container {
    width: 100%;
    padding: 0 24px 60px;
  }

  .nav-wrapper {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .second-wrapper {
    grid-template-columns: 1fr;
  }

  .first-nav {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav a {
    margin-bottom: 16px;
  }

  .call-wrapper {
    display: block;
  }

  .copyright > div {
    display: none;
  }
}

@media screen and (max-width: 429px) {
  .header-container {
    width: 80%;
    padding: 10px 0;
    grid-template-columns: 1fr 1fr;
  }
  .header-container--left > button {
    display: none;
  }

  .header-container--right {
    gap: 8px;
  }

  .header-container--right > button > span:last-child {
    display: none;
  }

  /* PRODUCTS MEDIA */

  .products-slide {
    width: 100%;
    border-radius: 0;
  }
  .slide-container {
    width: 330px;
    grid-template-columns: 330px;
    justify-content: center;
  }

  .container--left {
    display: none;
  }

  .container--right {
    margin-top: 20px;
  }

  /*  */
  .info-container {
    display: none;
  }
  .slide-buttons {
    display: none;
  }

  .btn {
    width: 50%;
  }

  .info-container--mobile {
    display: block;
  }

  /* PRODUCTSINDETAIL MEDIA */

  .productsInDetail-container {
    width: 100%;
    padding: 0 16px;
  }

  .productsInDetail-choice > h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .productsInDetail-buttons {
    display: none;
  }

  .productsInDetail-cards {
    gap: 30px;
  }

  .productsInDetail-card {
    padding: 24px;
    border: 1px solid #d1d1d4;
    border-radius: 16px;
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  .productsInDetail-card--left > div {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }

  .productsInDetail-card--right {
    gap: 8px;
    width: 100%;
  }

  .productsInDetail-card--right > h2 {
    font-size: 20px;
    font-weight: 500;
  }

  .productsInDetail-card--right > p {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 16px;
  }

  .productsInDetail-card--right > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 8px;
    border-top: 1px solid #d1d1d4;
    padding-top: 28px;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .productsInDetail-card--right > div:nth-child(3) > div > p {
    font-size: 13px;
    color: #818184;
    margin-top: 0;
  }

  .productsInDetail-card--right > div:nth-child(3) > div {
    padding-right: 0 !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .productsInDetail-card--right > div:last-child {
    flex-direction: column;
    justify-content: space-between;
  }

  .productsInDetail-card--right > div:last-child > .btn {
    width: 100%;
  }

  .productsInDetail-card--right > div:nth-child(3) > div:not(:last-child) {
    border: none;
  }

  .productsInDetail-filter {
    display: flex;
  }

  /* partners */
  .partners-container {
    width: 100%;
    padding: 0 32px;
  }

  .partners-container--top > h2 {
    font-size: 24px;
  }

  .partners-container--top > button {
    display: none;
  }

  .partners-container--bottom {
    grid-template-columns: repeat(6, 300px);
    gap: 14px;
    overflow-x: auto;
  }

  .partners-container--bottom--card > div:first-child {
    padding: 20px;
  }

  .partners-container--bottom--card > div:nth-child(3) {
    padding: 20px 20px;
    flex-direction: column;
  }

  .tablet-btn {
    display: block;
  }

  /* FOOTER */
  .footer {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
  .footer-container {
    width: 100%;
    padding: 0 24px 60px;
  }

  .nav-wrapper {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  .second-wrapper {
    grid-template-columns: 1fr;
  }

  .first-nav {
    display: grid;
    grid-template-columns: 1fr;
  }

  nav a {
    margin-bottom: 16px;
  }

  .call-wrapper {
    display: block;
  }

  .copyright > div {
    display: none;
  }
}
