* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f4f4f4;
}

/* HEADER SECTION  */
.header-container {
  width: 1200px;
  margin: 0 auto;
  padding: 28px 0;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 670px 246px;
  justify-content: space-between;
}

.header-container--left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-container--left > svg:first-child {
  width: 150px;
  height: 40px;
}

.header-button {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #bbbababf;
  cursor: pointer;
  background-color: transparent;
  margin: 0 4px 0 20px;
  font-size: 14px;
}

.header-button:hover {
  background-color: #f5f5f5;
  border-color: transparent;
}

.header-button > svg:last-child {
  transition: all 0.3s ease-in-out;
}

.header-button:hover > svg:last-child {
  transform: rotate(180deg);
}

.header-button > svg {
  width: 20px;
}

.header-button > svg:first-child {
  fill: #3a8dd3;
}

.header-btn {
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.header-btn:hover {
  color: #2673b3;
}

.header-container--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.header-call {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.1s ease-in-out;
  font-size: 14px;
}

.header-call:hover {
  color: rgb(0, 0, 0);
}

.header-call > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header-call > span > svg {
  width: 20px;
  fill: rgba(0, 0, 0, 0.4);
  transition: all 0.1s ease-in-out;
}

.header-call:hover > span > svg {
  fill: rgb(0, 0, 0);
}

.header-container--right > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #bbbababf;
  cursor: pointer;
  font-size: 14px;
}

.header-container--right > button > span {
  height: 20px;
}

.header-container--right > button > span:last-child {
  height: 16px;
}

.header-container--right > button > span > svg {
  width: 20px;
  fill: rgba(0, 0, 0, 0.4);
}

/* PRODUCTS SLIDES SECTION */
.products-wrapper {
  position: relative;
}
.products-slide {
  width: 1344px;
  margin: 0 auto;
  background-color: #00c4e5;
  border-radius: 16px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.slide-container {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  padding-bottom: 60px;
}

.container--left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  color: white;
}

.container--left > h2 {
  font-size: 40px;
  font-weight: 500;
}

.container--left > p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.container--right > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.products-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 34px 32px;
  background-color: white;
  border-radius: 12px;
  position: absolute;
  bottom: -60px;
  width: 1200px;
  box-shadow: 2px 2px 12px rgb(178, 178, 178);
}
.products-info--left {
  display: flex;
  gap: 40px;
}

.products-info--left > div > h3 {
  font-size: 20px;
  font-weight: 600;
}

.products-info--left > div > p {
  margin-top: 10px;
  color: #a8a8a8;
}

.products-info > div:first-child > div:not(:nth-child(4)) {
  border-right: 1px solid #bbbababf;
  padding-right: 40px;
}

.products-info--right {
  display: flex;
  gap: 20px;
}

.btn {
  width: 148px;
  height: 48px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}

.btn.blue {
  background-color: #2058bb;
  color: white;
}

.btn.blue:hover,
.btn.blue:active {
  background-color: #174086;
}

.btn.gray {
  background-color: #f2f2f7;
}

.btn.gray:hover,
.btn.gray:active {
  background-color: #e1e1eb;
}

.slide-buttons {
  position: absolute;
  bottom: -140px;
  display: flex;
  gap: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.slide-buttons > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e3e8ec;
}

.slide-buttons > div:first-child,
.slide-buttons > div:last-child {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.slide-buttons > div:first-child:hover,
.slide-buttons > div:last-child:hover {
  background-color: #ededed;
}

.slide-buttons > div:nth-child(2) {
  width: 144px;
  height: 48px;
  border-radius: 48px;

  gap: 12px;
}
.slide-buttons > div:nth-child(2) > div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #c6c6d0;
  cursor: pointer;
}

.slide-buttons > div:nth-child(2) > div.checked {
  background-color: #2058bb;
}

/* second info container */
.info-container--mobile {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fff;
  position: absolute;
  bottom: -140px;
  display: none;
}

.products-info--mobile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 16px;
}

.products-info--mobile > div:first-child {
  display: flex;
  justify-content: space-between;
}

.products-info--mobile > div:first-child > div {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.products-info--mobile > div:first-child > div:first-child {
  background-color: #00c4e5;
}

.products-info--mobile > div:first-child > div:nth-child(2) {
  background-color: #8a98ab;
}
.products-info--mobile > div:first-child > div:nth-child(3) {
  background-color: #c19791;
}
.products-info--mobile > div:first-child > div:nth-child(4) {
  background-color: #a5b854;
}
.products-info--mobile > div:first-child > div:nth-child(5) {
  background-color: #8460cd;
}
.products-info--mobile > div:first-child > div:last-child {
  background-color: #2c77d1;
}

.products-info--mobile > div:first-child > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-info--mobile > div:nth-child(2) > h2 {
  font-weight: 500;
  margin-bottom: 12px;
}

.products-info--mobile > div:nth-child(2) > p {
  font-weight: 300;
  font-size: 14px;
}

.products-info--mobile > div:last-child {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

/* PRODUCT IN DETAIL */
.productsInDetail {
  margin-top: 200px;
}

.productsInDetail-choice > h2 {
  font-size: 32px;
  font-weight: 600;
}

.productsInDetail-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-top: 36px;
}

.productsInDetail-btn {
  padding: 14px 24px;
  border-radius: 24px;
  border: none;
  background-color: #e3e8ec;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.productsInDetail-btn:hover {
  background-color: #ededed;
}

.productsInDetail-btn:first-child {
  background-color: #3a8dd3;
  color: white;
}

.productsInDetail-btn:first-child:hover {
  background-color: #3662ad;
}

.productsInDetail-card {
  display: flex;
  align-items: center;
  gap: 40px;
}

.productsInDetail-card--left {
  width: 416px;
}

.productsInDetail-card--left > div {
  width: 416px;
  height: 416px;
  background-color: #00c4e5;
}

.productsInDetail-card--left > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productsInDetail-card--right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productsInDetail-card--right > div {
  display: flex;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1280px) and (max-width: 1344px) {
  .products-slide {
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  /* HEADER MEDIA */
  .header-container {
    width: 90%;
    padding: 20px 0;
  }

  .header-container--right > button > span:last-child {
    display: none;
  }

  .header-container--right {
    gap: 8px;
  }

  /* PRODUCTS MEDIA */
  .products-slide {
    width: 100%;
    border-radius: 0;
  }
  .slide-container {
    width: 912px;
    grid-template-columns: repeat(2, 444px);
    justify-content: space-between;
  }

  .container--left > h2 {
    font-size: 32px;
  }

  /*  */
  .info-container {
    width: 912px;
  }

  .products-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 22px;
    width: 912px;
    bottom: -80px;
  }

  .slide-buttons {
    bottom: -160px;
  }

  .products-info--left {
    width: 100%;
    justify-content: space-between;
  }

  .products-info--left > div {
    width: 25%;
  }

  .products-info--left > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .products-info--left > div > p {
    font-size: 14px;
  }

  .products-info > div:first-child > div:not(:nth-child(4)) {
    border-right: 1px solid #bbbababf;
    padding-right: 0;
  }

  .products-info--right {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .btn {
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-container {
    width: 90%;
    padding: 20px 0;
    grid-template-columns: 1fr 1fr;
  }
  .header-container--left > button {
    display: none;
  }

  .header-container--right {
    gap: 8px;
  }

  .header-container--right > button > span:last-child {
    display: block;
  }

  /* PRODUCTS MEDIA */
  .products-slide {
    width: 100%;
    border-radius: 0;
  }
  .slide-container {
    width: 704px;
    grid-template-columns: repeat(2, 340px);
    justify-content: space-between;
  }

  .container--left {
    margin: 73px 0;
  }

  .container--right {
    margin-top: 73px;
  }

  .container--left > h2 {
    font-size: 32px;
  }

  /*  */
  .info-container {
    width: 704px;
  }

  .products-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px 22px;
    width: 704px;
    bottom: -80px;
  }

  .slide-buttons {
    bottom: -160px;
  }

  .products-info--left {
    width: 100%;
    justify-content: space-between;
  }

  .products-info--left > div {
    width: 25%;
  }

  .products-info--left > div > h3 {
    font-size: 16px;
    font-weight: 500;
  }

  .products-info--left > div > p {
    font-size: 14px;
  }

  .products-info > div:first-child > div:not(:nth-child(4)) {
    border-right: 1px solid #bbbababf;
    padding-right: 0;
  }

  .products-info--right {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .btn {
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    width: 80%;
    padding: 10px 0;
    grid-template-columns: 1fr 1fr;
  }
  .header-container--left > button {
    display: none;
  }

  .header-container--right {
    gap: 8px;
  }

  .header-container--right > button > span:last-child {
    display: none;
  }

  /* PRODUCTS MEDIA */

  .products-slide {
    width: 100%;
    border-radius: 0;
  }
  .slide-container {
    width: 330px;
    grid-template-columns: 330px;
    justify-content: center;
  }

  .container--left {
    display: none;
  }

  .container--right {
    margin-top: 20px;
  }

  /*  */
  .info-container {
    display: none;
  }
  .slide-buttons {
    display: none;
  }

  .btn {
    width: 50%;
  }

  .info-container--mobile {
    display: block;
  }
}
